<h1> UPDATE</h1>
<form action="/update" method="POST">
    LatLong: <input type="number" name="LatLong" value="<%= User4s1.latLong%>"><br> Role: <input type="text" name="Role" value="<%= User4s1.role%>"><br> OpenHour: <input type="number" name="OpenHour" value="<%= User4s1.openHour%>"><br> DefaultAccount:
    <input type="text" name="DefaultAccount" value="<%= User4s1.defaultAccount%>"><br> BankName: <input type="text" name="BankName" value="<%= User4s1.bankName%>"><br> BranchName: <input type="text" name="BranchName" value="<%= User4s1.branchName%>"><br>
    <button type="submit">UPDATE</button>
</form>